server:
  port: 8081
spring:
  #数据库连接信息
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/eggchat?characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
  #redis配置
  redis:
    # Redis数据库索引（默认为0）
    database: 0
    # Redis服务器地址
    host: 47.98.217.162
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password: egg666
    # 连接超时时间（毫秒）
    timeout: 5000


# secret 配置加密token的秘钥  代码中通过 @value注解读取即可
#validity 设置token的有效期   代码中通过 @value注解读取即可 单位秒
jwt:
  secret: egg666
  validity: 600


#mybatis-plus配置控制台打印完整带参数SQL语句
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    #关闭mybatis plus 启动横幅
  global-config:
    banner: false