<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqq.eggchat.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.tqq.eggchat.entity.User">
    <!--@mbg.generated-->
    <id column="i_id" jdbcType="BIGINT" property="i_id" />
    <result column="s_account" jdbcType="VARCHAR" property="s_account" />
    <result column="s_password" jdbcType="VARCHAR" property="s_password" />
    <result column="s_nike_name" jdbcType="VARCHAR" property="s_nike_name" />
    <result column="s_name" jdbcType="VARCHAR" property="s_name" />
    <result column="s_sex" jdbcType="INTEGER" property="s_sex" />
    <result column="s_email" jdbcType="VARCHAR" property="s_email" />
    <result column="d_register_date" jdbcType="TIMESTAMP" property="d_register_date" />
    <result column="i_status" jdbcType="INTEGER" property="i_status" />
    <result column="s_signature" jdbcType="VARCHAR" property="s_signature" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    i_id, s_account, s_password, s_nike_name, s_name, s_sex, s_email, d_register_date, 
    i_status, s_signature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_user
    where i_id = #{i_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_user
    where i_id = #{i_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tqq.eggchat.entity.User">
    <!--@mbg.generated-->
    insert into t_user (i_id, s_account, s_password, 
      s_nike_name, s_name, s_sex, 
      s_email, d_register_date, i_status, 
      s_signature)
    values (#{i_id,jdbcType=BIGINT}, #{s_account,jdbcType=VARCHAR}, #{s_password,jdbcType=VARCHAR}, 
      #{s_nike_name,jdbcType=VARCHAR}, #{s_name,jdbcType=VARCHAR}, #{s_sex,jdbcType=INTEGER}, 
      #{s_email,jdbcType=VARCHAR}, #{d_register_date,jdbcType=TIMESTAMP}, #{i_status,jdbcType=INTEGER}, 
      #{s_signature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tqq.eggchat.entity.User">
    <!--@mbg.generated-->
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="i_id != null">
        i_id,
      </if>
      <if test="s_account != null">
        s_account,
      </if>
      <if test="s_password != null">
        s_password,
      </if>
      <if test="s_nike_name != null">
        s_nike_name,
      </if>
      <if test="s_name != null">
        s_name,
      </if>
      <if test="s_sex != null">
        s_sex,
      </if>
      <if test="s_email != null">
        s_email,
      </if>
      <if test="d_register_date != null">
        d_register_date,
      </if>
      <if test="i_status != null">
        i_status,
      </if>
      <if test="s_signature != null">
        s_signature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="i_id != null">
        #{i_id,jdbcType=BIGINT},
      </if>
      <if test="s_account != null">
        #{s_account,jdbcType=VARCHAR},
      </if>
      <if test="s_password != null">
        #{s_password,jdbcType=VARCHAR},
      </if>
      <if test="s_nike_name != null">
        #{s_nike_name,jdbcType=VARCHAR},
      </if>
      <if test="s_name != null">
        #{s_name,jdbcType=VARCHAR},
      </if>
      <if test="s_sex != null">
        #{s_sex,jdbcType=INTEGER},
      </if>
      <if test="s_email != null">
        #{s_email,jdbcType=VARCHAR},
      </if>
      <if test="d_register_date != null">
        #{d_register_date,jdbcType=TIMESTAMP},
      </if>
      <if test="i_status != null">
        #{i_status,jdbcType=INTEGER},
      </if>
      <if test="s_signature != null">
        #{s_signature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqq.eggchat.entity.User">
    <!--@mbg.generated-->
    update t_user
    <set>
      <if test="s_account != null">
        s_account = #{s_account,jdbcType=VARCHAR},
      </if>
      <if test="s_password != null">
        s_password = #{s_password,jdbcType=VARCHAR},
      </if>
      <if test="s_nike_name != null">
        s_nike_name = #{s_nike_name,jdbcType=VARCHAR},
      </if>
      <if test="s_name != null">
        s_name = #{s_name,jdbcType=VARCHAR},
      </if>
      <if test="s_sex != null">
        s_sex = #{s_sex,jdbcType=INTEGER},
      </if>
      <if test="s_email != null">
        s_email = #{s_email,jdbcType=VARCHAR},
      </if>
      <if test="d_register_date != null">
        d_register_date = #{d_register_date,jdbcType=TIMESTAMP},
      </if>
      <if test="i_status != null">
        i_status = #{i_status,jdbcType=INTEGER},
      </if>
      <if test="s_signature != null">
        s_signature = #{s_signature,jdbcType=VARCHAR},
      </if>
    </set>
    where i_id = #{i_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqq.eggchat.entity.User">
    <!--@mbg.generated-->
    update t_user
    set s_account = #{s_account,jdbcType=VARCHAR},
      s_password = #{s_password,jdbcType=VARCHAR},
      s_nike_name = #{s_nike_name,jdbcType=VARCHAR},
      s_name = #{s_name,jdbcType=VARCHAR},
      s_sex = #{s_sex,jdbcType=INTEGER},
      s_email = #{s_email,jdbcType=VARCHAR},
      d_register_date = #{d_register_date,jdbcType=TIMESTAMP},
      i_status = #{i_status,jdbcType=INTEGER},
      s_signature = #{s_signature,jdbcType=VARCHAR}
    where i_id = #{i_id,jdbcType=BIGINT}
  </update>
</mapper>